@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    text-decoration: none !important;
  }

  main a:not(.no-underline):not(.\!no-underline):hover {
    text-decoration: underline !important;
  }

  ul, ol {
    margin-top: 0 !important;
  }

  li ol,
  li ul {
    margin-top: 0 !important;
  }

  p + p {
    margin-top: 0.8em !important;
  }

  blockquote {
    margin-top: 0.8em !important;
  }

  table {
    width: 100%;
    display: table !important;
  }

  table tr:nth-child(even) {
    background-color: transparent !important;
  }

  table th:empty {
    display: none;
  }
}

@media (max-width: 568px) {
  .nextra-nav-container nav a:first-child {
    margin-right: auto !important;
  }
}

@media (min-width: 569px) {
  .nextra-nav-container nav a:first-child {
    margin-right: 5rem !important;
  }
}

.nextra-nav-container nav a {
  margin-right: 0.5rem !important;
  font-size: 1rem !important;
}

.nextra-sidebar-container > div[data-toggle-animation] {
  display: none !important;
}

.nextra-menu-desktop > li > button {
  font-weight: 600;
}

.nextra-menu-desktop button svg {
  opacity: 0.5;
}

/* Hide "Tutorial" from menu */
.nextra-nav-container nav a:nth-child(2) {
  display: none !important;
}

.nextra-nav-container nav a:last-child {
  margin-right: 0 !important;
}

.nextra-search {
  margin-left: auto !important;
}

.nextra-code-block.nx-mt-6 {
  margin-top: 0.8rem !important;
}
