@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  margin-top: 0 !important;
}

p + p {
  margin-top: 0.8em !important;
}

blockquote {
  margin-top: 0.8em !important;
}

.nextra-nav-container nav a:first-child {
  margin-right: 5rem !important;
}

.nextra-search {
  margin-left: auto !important;
}
